@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

* {
  outline: 0;
}

body {
  padding: 40px;
}

.custom-marker-icon {
  background: transparent;
}

.custom-marker-shadow {
  background-image: url('./assets/genericCarMarker.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.custom-marker-shadow .triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.ping {
  position: absolute;
  bottom: -10px;
  transform: translate(-50%, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.8;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  transform-origin: center left;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2) translate(-50%, 0);
    opacity: 0;
  }
}
